<!-- navigation -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" routerLink="/create-account">Create Account</a>
    <a class="nav-item nav-link" routerLink="/account-created">Account Successfully Created</a>
  </div>
</nav>

<!-- main content container -->
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>