<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <div class="container">
      <!-- Header -->
      <div class="header">

        <p class="title">ACCESS POINT</p>

        <div class="nav-bar">
          <button type="button" class="home-button" routerLink="/home">Home</button>
          <button type="button" class="fake-button">☰</button>
          <button type="button" class="fake-button">☰</button>
          <button type="button" class="fake-button">☰</button>
          <button type="button" class="fake-button">☰</button>
          <button type="button" class="fake-button">☰</button>
        </div>

      </div>
      <!-- Content -->
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <!-- Footer -->
      <div class="footer">
        <p>By Team Mastercard</p>
      </div>
    </div>
  </body>
</html>