<body>
    <div class="title">
        <p>Create Student Account</p>
    </div>
    <div class="button-container">
        <button type="button" class="return" (click)="confirmReturn()" routerLink="/home">Return</button>
    </div>
    <!-- Body of Form -->
    <div class="form-container">
        <form  method="post" autocomplete="off">
                
            <!-- Full Name -->
            <div class="box">
                <label for="fullname" class="leftSide fontLabel">Full Name</label>
                <div class="rightSide">
                    <input type="text" name="fullname" placeholder="Full Name" class="inputBox" autofocus="on" required #fullname>
                </div>
                <div class="clr"></div>
            </div>
                
            <!-- Phone No. -->
            <div class="box">
                <label for="phone" class="leftSide fontLabel">Phone Number</label>   
                <div class="rightSide">
                    <input type="text" required name="phoneNo"  placeholder="Phone Number" class="inputBox" maxlength="11" #phonenumber>
                </div>
                <div class="clr"></div>
            </div>

            <!-- Email Address -->
            <div class="box">
                <label for="email" class="leftSide fontLabel">Email Address</label>     
                <div class="rightSide">
                    <input type="email" required name="email" placeholder="Email Address" class="inputBox" #email>
                </div>
                <div class="clr"></div>
            </div>

            <!-- High School -->
            <div class="box">
                <label for="highSchool" class="leftSide fontLabel">High School</label>       
                <div class="rightSide">
                    <input type="text" required name="highSchol" placeholder="High School" class="inputBox" #highschool>
                </div>
                <div class="clr"></div>
            </div>

            <!-- Birthday -->
            <div class="box">
                <label for="birthday" class="leftSide fontLabel">Birthday</label>
                <div class="rightSide">
                    <input type="date" required name="birthday" class="inputBox" #birthday>
                </div>
                <div class="clr"></div>
            </div>
                
            <!-- Address -->
            <div class="box">
                <label for="address" class="leftSide fontLabel">Address</label>
                <div class="rightSide">
                    <input type="text" required name="address" placeholder="Address" class="inputBox" #address1>
                    <br>
                    <input type="text" required name="address2" placeholder="Address Line 2" class="inputBox" #address2>
                </div>
                <div class="clr"></div>
            </div>

            <br>
                
            <!-- Password -->
            <div class="box">
                <label for="password" class="leftSide fontLabel">Password</label>     
                <div class="rightSide">
                    <input type="Password" required name="password" placeholder="Password" class="inputBox" pattern="^\S{6,}$" #password>
                </div>
                <div class="clr"></div>
            </div>
             
            <!-- Confirm Password -->
            <div class="box">
                <label for="confirmPassword" class="leftSide fontLabel">Confirm Password</label>
                <div class="rightSide">
                    <input type="Password" required name="confirmPassword" placeholder="Confirm Password" class="inputBox" pattern="^\S{6,}$" #confirmPassword>
                </div>
                <div class="clr"></div>
            </div>

            <!-- Submit Button -->
            <div class="box">
                <input type="Submit" name="Submit" class="submit" value="Submit" 
                    (click)="validForm(validatePassword(password.value, confirmPassword.value)) ? 
                    onSubmit(fullname.value, phonenumber.value, email.value, highschool.value, birthday.value, address1.value, address2.value, password.value) : null"
                >
            </div>

            <br>
            
        </form>
    </div>
</body>